body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #673ab7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #7952b3;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #673ab7;
    color: #fff;
    text-align: center;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    position: fixed;
}
